.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: $purple;
  text-weight: bolder;
}

.navbar-brand{
  color: $purple;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#dropdownMenuButton{
  color: $purple;
}

.link-icon{
  color: $purple;
}

