<div class="four-division-container">
  <div class="nav">teste teste</div>
  <div class="menu">sdjklfhjashfjahdfa</div>
  <div class="main">main</div>
  <div class="aside">alksjfh ajhf jas</div>
</div>
